/* style.css */
body {
  font-family: sans-serif;
  background: #f3f4f6;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.container {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  margin-bottom: 1rem;
}

.summary p {
  margin: 0.5rem 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

input {
  padding: 0.5rem;
}

button {
  padding: 0.5rem;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

#logoutBtn{
  position: relative;
  left: 340px;
  top: -40px;
}
.list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-left: 5px solid;
  background: #f9fafb;
  border-radius: 4px;
}

.list li.income {
  border-color: #10b981;
}

.list li.expense {
  border-color: #ef4444;
}

select {
  padding: 0.5rem;
}

#exportBtn {
  margin-top: 10px;
  padding: 0.5rem;
  background: #16a34a;
  color: white;
  border: none;
  cursor: pointer;
}

#exportBtn:hover {
  opacity: 0.8;
}

#app{
  display:none;
}

#balance,
#income,
#expense {
  transition: all 0.15s ease;
}

.balance-up {
  color: green;
  transform: scale(5.2);
}

.balance-down {
  color: red;
  transform: scale(5.2);
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list li button {
  margin-left: 10px;
  background: red;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}